@{
    ViewBag.Title = "About";
}
<br />
<center>
    <h1>Authors:</h1>
    <br />
    <br />
    <h3>Angela Reid</h3>
    <br />
    <h3>Blake Steel</h3>
    <br />
    <h3>Collin Peak</h3>
    <br />
    <h3>Patrick Dobson</h3>
    <br /><br /><br />
    <h4>Hope you enjoy our work!</h4>
</center>