@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Shopping List</h1>
    <p class="lead">Shopping List is an app designed to help you make a shopping list. We are talking about the bleeding edge of dietary organization here!</p>
    <img src="~/img/list.jpg" alt="list" class="img-responsive"
         style="margin:auto; display:flex;" />
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Coming Soon!</h2>
        <p>
            While still in early development, we are working hard to bring you the features you want!
        </p>        
    </div>
</div>
<br />
<br />