@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <center><h1>Shopping List</h1></center>
    <p class="lead">Shopping List is an app designed to help you make a shopping list. Bleeding edge dietary organization here!</p>
    <img src="~/img/list.jpg" alt="list" class="img-responsive"
         style="margin:auto; display:flex;" />
   
</div>

<!--START PICTURE TAIL-->

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        @Html.Partial("_LoginPartial")
    </div>
</div>

<!-- END PICTURE TAIL-->
<br />
<br />